header h1{
    padding: 12px;
    text-align: center;
    color: rgb(250, 245, 245);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 1px 2px rgb(27, 25, 25);
}
body{
    background-color:  rgba(144, 193, 233, 0.902);
    font-family: 'Roboto Condensed', sans-serif;
}
nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
}
nav{
    border-radius: 5px;
    background-color: rgb(11, 155, 216);
    overflow: hidden;
}
nav a:hover{
    color: black;
}
section{
    padding: 0px;
    margin: 0px;
    width: 50%;
    border: none;
}

.active{
    color: black;
}
.table1{
    border: 2px solid black;
    height: 130px;
    padding: 3px 5px;
    width: 1006px;
    margin: 10px 27px;
}
.table2{
    border: 2px solid black;
    height: 130px;
    padding: 3px 5px;
    width: 1006px;
    margin: 10px 27px;
}
.table3{
    border: 2px solid black;
    height: 130px;
    padding: 3px 5px;
    width: 1006px;
    margin: 10px 27px;
}
.return{
    border: none;
    height: 36px;
    margin: 14px 304px;
    width: 64px;
    display: block;
    position: relative;
    left: 690px;
}
.search{
    border: none;
    height: 60px;
    padding: 0px 26px;
    margin: 10px 0px;
    width: 200px;
    display: block;
    position: relative;
    right: auto;
}
.borrow{
    border: none;
    height: 36px;
    margin: 14px 304px;
    width: 64px;
    display: block;
    position: relative;
    left: 690px;
}
table th{
    border-style: ridge;
    padding: 5px 25px;
}
table td{
    border-style: ridge;
    padding: 5px 30px;
}
input[type='submit']{
    padding: 8px 13px;
    margin: 9px 60px;
    border: none;
    border-radius: 5px;
    background-color: rgb(31, 138, 231);
}
input[type='text']{
    border: none;
        border-radius: 2px;
        padding: 5px;
}
input[type='submit']:hover{
    cursor: pointer;
        background-color:  rgb(100, 177, 244);
}